## Train

In [1]:
import pandas as pd
training_set = pd.read_csv('../dataset/training_set.csv')
training_set_metadata = pd.read_csv('../dataset/training_set_metadata.csv')

In [2]:
training_set.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [3]:
training_set['mjd'] = training_set.groupby(['object_id'])["mjd"].transform(lambda x: (x - x.min()))

In [4]:
training_set['interval'] = training_set.groupby(['object_id'])["mjd"].transform(lambda x: (x.max() - x.min()))

In [ ]:
training_set.head()

   object_id     mjd  passband        flux   flux_err  detected  interval
0        615  0.0000         2 -544.810303   3.622952         1  873.7903
1        615  0.0077         1 -816.434326   5.553370         1  873.7903
2        615  0.0154         3 -471.385529   3.801213         1  873.7903
3        615  0.0221         4 -388.984985  11.395031         1  873.7903
4        615  1.9841         2 -681.858887   4.041204         1  873.7903

In [ ]:
training_set.tail()

,object_id,mjd,passband,flux,flux_err,detected,interval
1421700,130779836,845.5708,4,-39.881969,46.477093,0,877.6242
1421701,130779836,849.6329,1,14.894439,18.947685,0,877.6242
1421702,130779836,860.6095,5,30.593130,50.695290,0,877.6242
1421703,130779836,875.5844,4,-23.471439,44.819859,0,877.6242
1421704,130779836,877.6242,0,-41.214264,51.665123,0,877.6242

In [ ]:
training_set['interval'].min()

755.9755000000005

In [ ]:
training_set['interval'].max()

1094.0645999999979

In [ ]:
training_set.to_csv('training_set_mjd_reset_by_object_id_and_interval.csv')

## Test

In [ ]:
import pandas as pd
chunks = 5000000 #90 iterations require
old_min = 5000
old_max = 0
for it_chunk, df_chunk in enumerate(pd.read_csv('../dataset/test_set.csv', chunksize=chunks, iterator=True)):
    print("===================")
    print('iteration:', it_chunk)
    if it_chunk >= 1:
        df_chunk = pd.concat([df_chunk_cache, df_chunk])
    object_id_last = df_chunk.tail(1)['object_id'].values[0]
    #remove last object_id if is not the end
    if it_chunk != 90:
        df_chunk_cache = df_chunk[df_chunk['object_id'] == object_id_last]
        df_chunk = df_chunk[df_chunk['object_id'] != object_id_last]
    # df_chunck contain all data of object_id inside
    # put code here
    #break  #is you want only the first chunck, uncomment "break"
    df_chunk['mjd'] = df_chunk.groupby(['object_id'])["mjd"].transform(lambda x: (x - x.min()))
    df_chunk['interval'] = df_chunk.groupby(['object_id'])["mjd"].transform(lambda x: (x.max() - x.min()))
    if df_chunk['interval'].min() < old_min:
        old_min = df_chunk['interval'].min()
    if df_chunk['interval'].max() > old_max:
        old_max = df_chunk['interval'].max()
print('min', old_min)
print('max', old_max)

===================
iteration: 0

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:18: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:19: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy

===================
iteration: 1
===================
iteration: 2
===================
iteration: 3
===================
iteration: 4
===================
iteration: 5
===================
iteration: 6
===================
iteration: 7
===================
iteration: 8
===================
iteration: 9
===================
iteration: 10
===================
iteration: 11
===================
iteration: 12
===================
iteration: 13
===================
iteration: 14
===================
iteration: 15
===================
iteration: 16
===================
iteration: 17
===================
iteration: 18
===================
iteration: 19
===================
iteration: 20