In [1]:
import pandas as pd
training_set = pd.read_csv('../dataset/training_set.csv')
training_set_metadata = pd.read_csv('../dataset/training_set_metadata.csv')

In [2]:
training_set.head()

   object_id         mjd  passband        flux   flux_err  detected
0        615  59750.4229         2 -544.810303   3.622952         1
1        615  59750.4306         1 -816.434326   5.553370         1
2        615  59750.4383         3 -471.385529   3.801213         1
3        615  59750.4450         4 -388.984985  11.395031         1
4        615  59752.4070         2 -681.858887   4.041204         1

In [3]:
training_set['mjd'] = training_set.groupby(['object_id'])["mjd"].transform(lambda x: (x - x.min()))

In [15]:
training_set['interval'] = training_set.groupby(['object_id'])["mjd"].transform(lambda x: (x.max() - x.min()))

In [16]:
train_by_object = training_set.groupby(['object_id'])

In [17]:
train_by_object.mean()

                  mjd  passband         flux   flux_err  detected   interval
object_id
615        445.015593  2.457386  -123.096998   4.482743  0.946023   873.7903
713        431.509299  2.400000    -1.423351   2.359620  0.171429   848.8198
730        423.627545  2.336364     2.267434   2.471061  0.069697   853.8455
745        429.465497  2.378917     8.909206   2.555576  0.173789   853.7060
1124       445.015593  2.457386     7.145702   2.753004  0.173295   873.7903
1227       423.627545  2.336364     0.367212   2.596891  0.009091   853.8455
1598       445.015593  2.457386    30.333023   2.832957  0.056818   873.7903
1632       445.015593  2.457386     1.760026   2.733204  0.008523   873.7903
1920       437.420429  2.647059    19.228827   3.000022  0.215686   854.6558
1926       437.420429  2.647059    -0.085210   3.822488  0.011765   854.6558
2072       429.465497  2.378917     1.738064   2.547658  0.065527   853.7060
2103       445.015593  2.457386    11.319435   2.749155  0.096591   873.7903
2300       429.465497  2.378917     2.245681   2.564136  0.082621   853.7060
2330       429.465497  2.378917     0.756080   2.566730  0.005698   853.7060
2624       445.015593  2.457386     7.837399   4.937664  0.025568   873.7903
2677       431.509299  2.400000    -3.410157   3.310683  0.168571   848.8198
2922       445.015593  2.457386    11.240447   2.739344  0.164773   873.7903
3041       445.015593  2.457386     1.598920   2.725675  0.028409   873.7903
3285       437.420429  2.647059    10.312108   2.945705  0.125490   854.6558
3423       445.015593  2.457386     2.094164   2.716542  0.031250   873.7903
3489       437.420429  2.647059    -2.143732   2.946567  0.149020   854.6558
3910       429.465497  2.378917     2.632260   2.556867  0.028490   853.7060
4088       429.465497  2.378917   -68.667321   2.741602  0.977208   853.7060
4132       429.465497  2.378917     2.806525   2.565311  0.082621   853.7060
4171       429.465497  2.378917     2.656349   2.692887  0.279202   853.7060
4173       437.420429  2.647059    22.723006   2.973981  0.301961   854.6558
4220       429.465497  2.378917    35.796108   2.641191  0.136752   853.7060
4389       437.420429  2.647059    10.389586   2.919527  0.227451   854.6558
4595       445.015593  2.457386     8.988213   2.727753  0.156250   873.7903
4819       423.627545  2.336364    16.183766   2.501526  0.221212   853.8455
...               ...       ...          ...        ...       ...        ...
130219752  424.685517  2.887097    18.006517  11.863105  0.064516   909.5981
130231675  434.993949  3.232877     3.788283  13.621590  0.034247   888.6424
130263372  598.285424  3.184932    11.648009  17.616189  0.027397  1086.1517
130312781  578.549610  3.277778  -179.522329  24.242584  0.111111  1090.9317
130319749  461.472655  3.142857    16.846116  12.406386  0.142857   899.7021
130330088  432.056016  3.048611     4.548489  14.877362  0.020833   907.7907
130359176  574.062043  3.194030     1.363173  24.430994  0.014925  1090.9195
130375489  448.140532  3.081481     6.527627  11.948581  0.051852   895.7070
130386135  416.796306  3.083916     8.468272  13.080398  0.034965   882.6267
130402542  525.348519  3.152941    16.250864  14.322777  0.047059  1002.1655
130408188  448.633279  2.883929    34.106033  20.224481  0.133929   911.6450
130414189  444.865683  3.195489   296.778553  13.485437  0.172932   873.7643
130489916  493.214746  3.127273   -56.708234  15.916057  0.154545   912.6423
130552230  633.357009  3.147287    16.921819  14.128951  0.062016  1071.0623
130595291  463.237295  2.952381    35.242336  11.303882  0.142857   900.6403
130617044  635.932397  3.144828    16.003875  13.050312  0.137931  1087.9544
130622528  586.979320  3.378571     6.187167  22.925088  0.014286  1088.0705
130639669  538.601734  3.304000    20.548503  15.012006  0.128000  1083.0641
130659834  543.990420  3.094340     8.431304  12.523082  0.056604  1062.0485
130678775  600.249633  3.283688     6.848019  13.818555  0.021277  1090.9620
130684460  606.083930  3.261538   -11.097037  24.119625  0.184615  1087.9527
130695262  599.869557  3.181818    30.507223  14.623338  0.167832  1086.9674
130698059  585.335274  3.263158     9.149923  13.872499  0.090226  1090.9507
130716752  447.052419  2.916667     2.811110  10.614005  0.018519   905.7762
130727624  507.264249  2.765217    -0.200723  16.066476  0.017391   897.7231
130739978  439.559469  2.993197     6.786007  16.391897  0.034014   880.7021
130755807  538.133248  3.149123    16.466672  18.477200  0.052632  1091.7966
130762946  496.624833  2.977612   -15.308645  27.723353  0.052239  1050.1433
130772921  582.696976  3.138889     4.440758  13.657375  0.020833  1082.0163
130779836  466.951142  2.813559  2346.644261  49.316721  0.483051   877.6242

[7848 rows x 6 columns]

In [18]:
training_set.head()

   object_id     mjd  passband        flux   flux_err  detected  interval
0        615  0.0000         2 -544.810303   3.622952         1  873.7903
1        615  0.0077         1 -816.434326   5.553370         1  873.7903
2        615  0.0154         3 -471.385529   3.801213         1  873.7903
3        615  0.0221         4 -388.984985  11.395031         1  873.7903
4        615  1.9841         2 -681.858887   4.041204         1  873.7903

In [19]:
training_set.tail()

,object_id,mjd,passband,flux,flux_err,detected,interval
1421700,130779836,845.5708,4,-39.881969,46.477093,0,877.6242
1421701,130779836,849.6329,1,14.894439,18.947685,0,877.6242
1421702,130779836,860.6095,5,30.593130,50.695290,0,877.6242
1421703,130779836,875.5844,4,-23.471439,44.819859,0,877.6242
1421704,130779836,877.6242,0,-41.214264,51.665123,0,877.6242

In [22]:
training_set['interval'].min()

755.9755000000005

In [21]:
training_set['interval'].max()

1094.0645999999979

In [10]:
training_set.to_csv('training_set_mjd_reset_by_object_id_and_interval.csv')